.game {
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  fill: transparent;
  width: 100vw;
  height: calc(100vh - var(--header-height));
}

.game g {
  stroke-width: 4px;
}

.gameArea {
  cursor: pointer;
  stroke: none;
}

.winHighlight {
  transform-origin: 150px 150px;
  stroke-width: 8px;
}

.winHighlight.row0 {
  transform: translateY(-100px);
}

.winHighlight.row2 {
  transform: translateY(100px);
}

.winHighlight.col0 {
  transform: rotate(90deg) translateY(100px);
}

.winHighlight.col1 {
  transform: rotate(90deg);
}

.winHighlight.col2 {
  transform: rotate(90deg) translateY(-100px);
}

.winHighlight.diaga {
  transform: rotate(45deg) scaleX(1.414);
}

.winHighlight.diagb {
  transform: rotate(-45deg) scaleX(1.414);
}
