:root {
  --close-btn-size: 2rem;
}

.overlay {
  display: flex;
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  background: rgba(0,0,0,40%);
  border: 0 none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background: var(--game-background);
  color: var(--game-foreground);
  border: 3px solid var(--game-foreground);
  padding: 1em;
  box-shadow: 0 0 0 1px var(--game-background);
  border-radius: 0.5rem;
  min-width: 15vw;
  max-width: calc(100vw - var(--close-btn-size));
  max-height: calc(100vh - var(--close-btn-size));
  animation-timing-function: cubic-bezier(0.2, 2, 0.7, 0.7);
}

.modal:focus {
  outline: none;
}

.modal:global(.ReactModal__Content--after-open) {
  animation-name: popIn;
  opacity: 1;
}

.modal:global(.ReactModal__Content--before-close) {
  animation-name: popOut;
  opacity: 0;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background: var(--game-background);
  display: block;
  width: var(--close-btn-size);
  height: var(--close-btn-size);
  font-size: var(--close-btn-size);
  border-radius: calc(var(--close-btn-size) / 2);
}

@keyframes popIn {
  from {
    transform: scale(0.25);
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  to {
    transform: scale(0.25);
    opacity: 0;
  }
}
