.overlay {
  z-index: 100;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
}

.content hr {
  width: 100%;
  border: 1px dashed var(--game-foreground);
}

.content > *+* {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.content table {
  border-spacing: 0.3em;
}

.content table tr {
  border: 0 transparent solid;
  border-width: 0.5rem 0;
}

.content table tr:first-of-type {
  border-top-width: 0;
}

.content table tr:last-of-type {
  border-bottom-width: 0;
}

.content table input {
  width: 100%;
}

.content table select {
  width: 100%;
}

.resetDelay {
  white-space: nowrap;
}

.resetDelay input {
  width: 4em;
}

.buttonRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.buttonRow > * {
  white-space: nowrap;
  margin-top: 0.5rem;
}

.buttonRow button {
  background: var(--game-foreground);
  color: var(--game-background);
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.statusOverlay {
  z-index: 101;
}
