.header {
  position: relative;
  height: var(--header-height);
  width: 100vw;
  background: var(--header-background);
  color: var(--color-white);
  box-shadow: 0 0 4px 0 var(--color-white);
}

.header ol {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 var(--header-height);
  padding: 0;
  height: var(--header-height);
  width: calc(100vw - 2 * var(--header-height));
}

.header ol li {
  min-width: 1.5em;
  margin: 0 0.5em;
  padding: 0.25em 1em;
  border-radius: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.header ol li.active {
  background: var(--color-white);
  color: var(--color-dark);
}

.playerName {
  font-weight: bold;
}

.playerStatus {
  font-size: 0.75em;
}

.showSettings {
  position: absolute;
  left: 0;
  top: 0;
  height: var(--header-height);
  width: var(--header-height);
  font-size: 1.5rem;
}
