@keyframes statusCountdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.message {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.message + .countdown {
  margin-top: 2em;
}

.countdown {
  --height: 1em;
  --padding: 2px;

  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--game-background);
  padding: var(--padding);
  border: 2px solid var(--game-foreground);
  border-radius: calc(var(--height) / 2 + var(--padding));
}

.countdown div {
  height: var(--height);
  min-width: var(--height);
  background: var(--game-foreground);
  border-radius: calc(var(--height) / 2);
}
