:root {
  --color-white: #fff;
  --color-dark: #333;
  --header-background: linear-gradient(180deg, #000 0%, var(--color-dark) 100%);
  --game-background: var(--color-white);
  --game-foreground: var(--color-dark);

  --header-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --game-background: var(--color-dark);
    --game-foreground: var(--color-white);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: var(--game-background);
  color: var(--game-foreground);
}

body:after {
  content: attr(data-version) "-" attr(data-build-env) " " attr(data-build-time);
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  pointer-events: none;
  text-align: right;
}

a {
  color: inherit;
}

svg {
  height: 1em;
  vertical-align: top;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  font-size: inherit;
}

input:invalid {
  border: 2px solid #f00;
  background: rgba(255,0,0,0.1);
}
